---
version: '3.5'
services:

  postgres:
    image: debezium/postgres:10
    hostname: postgres
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=postgres
    volumes:
     - ../../connect/connect-debezium-postgresql-source/customers.sql:/docker-entrypoint-initdb.d/z99_dump.sql

  connect:
    depends_on:
      - zookeeper
      - broker
      - schema-registry
      - postgres
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/debezium-debezium-connector-postgresql,/usr/share/confluent-hub-components/confluentinc-kafka-connect-jdbc
