---
services:
  influxdb:
    image: influxdb:1.7.7
    hostname: influxdb
    container_name: influxdb
    ports:
      - "8086:8086"

  connect:
    depends_on:
      - influxdb
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-influxdb