/*
* Credentials to use when connecting to ZooKeeper directly.
*
* Whenever possible you should use the Kafka AdminClient API instead of ZooKeeper.
*/
Client {
    com.sun.security.auth.module.Krb5LoginModule required
    useTicketCache=true;
};


/*
* Credentials to connect to Kafka.
*/
KafkaClient {
    com.sun.security.auth.module.Krb5LoginModule required    
    useTicketCache=true;
};
