.DS_Store
.vscode
.settings
target
.classpath
.project
bin
delta_configs
*.crt
*.csr
*_creds
*.jks
*.srl
*.key
*.req
*.pem
*.der
*.p12
keyfile.json
.gradle
connect/connect-jdbc-oracle12-source/docker-images
connect/connect-jdbc-oracle11-source/ojdbc6.jar
*.rpm
connect/connect-jdbc-oracle11-source/instantclient/OracleSample.java
connect/connect-jdbc-oracle11-source/instantclient/OracleSample.class
*.class
connect/connect-jdbc-sqlserver-source/sqljdbc_7.4
connect/connect-jdbc-sqlserver-sink/sqljdbc_7.4
connect/connect-spool-dir-source/data
mycommand.sh
ccloud/ccloud-demo/kafka-lag-exporter/application.conf
connect/connect-sftp-sink/upload/
connect/connect-sftp-source/upload/
other/connect-override-policy-sftp-source/upload/
other/connect-override-policy-sftp-sink/upload/
connect/connect-hdfs-sink/confluentinc-kafka-connect-hdfs-5.0.4-SNAPSHOT