---
services:
  sftp-server:
    image: atmoz/sftp
    hostname: sftp-server
    container_name: sftp-server
    ports:
      - "2222:22"
    command: foo:pass:::upload

  connect:
    volumes:
      - ../../troubleshooting/control-center-error-500-missing-connector/data:$CONNECT_CONTAINER_HOME_DIR/data
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-sftp,/usr/share/confluent-hub-components/jcustenborder-kafka-connect-spooldir