---
version: '3.5'
services:

  connect:
    volumes:
      - ../../reproduction-models/connect-connect-servicenow-sink/repro-70453/logging.properties:/tmp/logging.properties
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-servicenow,/usr/share/confluent-hub-components/confluentinc-connect-transforms
      KAFKA_OPTS: -Djava.util.logging.config.file=/tmp/logging.properties