AZURE_COSMOSDB_DB_ENDPOINT_URI=:AZURE_COSMOSDB_DB_ENDPOINT_URI:
AZURE_COSMOSDB_PRIMARY_CONNECTION_KEY=:AZURE_COSMOSDB_PRIMARY_CONNECTION_KEY:
AZURE_COSMOSDB_DB_NAME=:AZURE_COSMOSDB_DB_NAME:
TOPIC_MAP=:TOPIC_MAP: