---
version: '3.5'
services:
  solace:
    image: solace/solace-pubsub-standard:9.1.0.77
    hostname: solace
    container_name: solace
    volumes:
      - ../../connect/connect-jms-solace-sink/show_queue_cmd:/usr/sw/jail/cliscripts/show_queue_cmd
      - ../../connect/connect-jms-solace-sink/create_queue_cmd:/usr/sw/jail/cliscripts/create_queue_cmd
    ports:
      - 8080:8080
      - 55555:55555
      - 5550:5550
    tmpfs: /dev/shm
    ulimits:
      nofile:
        soft: 2448
        hard: 38048
    environment:
      username_admin_globalaccesslevel: admin
      username_admin_password: admin
      system_scaling_maxconnectioncount: 100

  connect:
    depends_on:
      - zookeeper
      - broker
      - schema-registry
      - solace
    volumes:
        - ../../connect/connect-jms-solace-sink/sol-jms-10.6.0.jar:/usr/share/confluent-hub-components/confluentinc-kafka-connect-jms-sink/lib/sol-jms-10.6.0.jar
        - ../../connect/connect-jms-solace-sink/commons-lang-2.6.jar:/usr/share/confluent-hub-components/confluentinc-kafka-connect-jms-sink/lib/commons-lang-2.6.jar
        # - ../../connect/connect-jms-solace-sink/commons-logging-1.1.3.jar:/usr/share/confluent-hub-components/confluentinc-kafka-connect-jms-sink/lib/commons-logging-1.1.3.jar
        # - ../../connect/connect-jms-solace-sink/geronimo-jms_1.1_spec-1.1.1.jar:/usr/share/confluent-hub-components/confluentinc-kafka-connect-jms-sink/lib/geronimo-jms_1.1_spec-1.1.1.jar
        # - ../../connect/connect-jms-solace-sink/org.apache.servicemix.bundles.jzlib-1.0.7_2.jar:/usr/share/confluent-hub-components/confluentinc-kafka-connect-jms-sink/lib/org.apache.servicemix.bundles.jzlib-1.0.7_2.jar
        # - ../../connect/connect-jms-solace-sink/org.osgi.annotation-6.0.0.jar:/usr/share/confluent-hub-components/confluentinc-kafka-connect-jms-sink/lib/org.osgi.annotation-6.0.0.jar
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-jms-sink
