---
services:
  tibco-ems:
    image: tibems:latest
    hostname: tibco-ems
    container_name: tibco-ems
    volumes:
        - ../../connect/connect-jms-tibco-source/tibjmsMsgProducer.java:/opt/tibco/ems/8.5/samples/java/tibjmsMsgProducer.java
    ports:
      - '7222:7222'

  connect:
    depends_on:
      - tibco-ems
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-jms
      # CONNECT_LOG4J_ROOT_LOGLEVEL: TRACE
