---
version: '3.5'
services:

  connect:
    ports:
      - "5439:5439"
    depends_on:
      - zookeeper
      - broker
      - schema-registry
    volumes:
        - ../../connect/connect-jdbc-aws-redshift-sink/RedshiftJDBC4-1.2.20.1043.jar:/usr/share/confluent-hub-components/confluentinc-kafka-connect-jdbc/lib/RedshiftJDBC4-1.2.20.1043.jar
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-jdbc