---
version: '3.5'
services:

  postgres:
    image: debezium/postgres:10.0
    hostname: postgres
    container_name: postgres
    environment:
     - POSTGRES_USER=postgres
     - POSTGRES_PASSWORD=postgres
    volumes:
     - ../connect-jdbc-postgresql-source/customers.sql:/docker-entrypoint-initdb.d/z99_dump.sql

  connect:
    depends_on:
      - zookeeper
      - broker
      - schema-registry
      - postgres
