---
version: '3.5'
services:
  connect:
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-azure-blob-storage,/usr/share/confluent-hub-components/confluentinc-kafka-connect-azure-blob-storage-source