---
services:
  connect:
    ports:
      - "5439:5439"
    volumes:
      - ../../connect/connect-aws-redshift-sink/data:/data
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-aws-redshift