---
version: '3.5'
services:

  connect:
    image: vdesabou/kafka-docker-playground-connect:${TAG}
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/java/
      CONNECT_REST_EXTENSION_CLASSES: io.confluent.connect.replicator.monitoring.ReplicatorMonitoringExtension
      CLASSPATH: "/usr/share/confluent-hub-components/confluentinc-kafka-connect-replicator/lib/replicator-rest-extension-${TAG_BASE}.jar:/usr/share/java/monitoring-interceptors/*"
