---
services:
  connect:
    volumes:
      - ../../connect/connect-aws-s3-source/awscredentialsprovider/target/awscredentialsprovider-1.0.0-jar-with-dependencies.jar:/usr/share/confluent-hub-components/confluentinc-kafka-connect-s3-source/lib/awscredentialsprovider-1.0.0-jar-with-dependencies.jar
      - ../../connect/connect-aws-s3-source/awscredentialsprovider/target/awscredentialsprovider-1.0.0-jar-with-dependencies.jar:/usr/share/confluent-hub-components/confluentinc-kafka-connect-s3/lib/awscredentialsprovider-1.0.0-jar-with-dependencies.jar
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-s3-source,/usr/share/confluent-hub-components/confluentinc-kafka-connect-s3
      AWS_REGION: $AWS_REGION