---
version: '3.5'
services:
  couchbase:
    image: couchbase # https://hub.docker.com/_/couchbase
    hostname: couchbase
    container_name: couchbase
    ports:
      - "8091-8094:8091-8094"
      - "11210:11210"

  connect:
    depends_on:
      - couchbase
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/couchbase-kafka-connect-couchbase,/usr/share/confluent-hub-components/confluentinc-connect-transforms
