---
services:

  connect:
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-http-source

  httpserver:
    image: vdesabou/http-sink-demo
    hostname: httpserver
    container_name: httpserver
    ports:
      - "18080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: 'simple-auth'