---
services:

  connect:
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-databricks-delta-lake,/usr/share/confluent-hub-components/confluentinc-kafka-connect-datagen