---
services:
  connect:
    volumes:
      - ../../connect/connect-aws-dynamodb-sink/basicawscredentialsprovider/target/awscredentialsprovider-1.0.0-jar-with-dependencies.jar:/usr/share/confluent-hub-components/confluentinc-kafka-connect-aws-dynamodb/lib/awscredentialsprovider-1.0.0-jar-with-dependencies.jar
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-aws-dynamodb