/*
*   Service principal for Zookeeper server.
*
*   Zookeeper server accepts client connections.
*/
Server {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    useTicketCache=false
    keyTab="/var/lib/secret/zookeeper-us.key"
    principal="zookeeper/zookeeper-us.kerberos-demo.local@TEST.CONFLUENT.IO";
};
