# Terraform files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
terraform.tfvars
terraform.tfvars.json
.terraform.tfstate.lock.info

# Crash log files
crash.log
crash.*.log

# Environment files
.ccloud_env
*.env

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Mac files
.DS_Store

# Backup files
*.backup
*.bak
