---
services:

  simple-send:
    build:
      context: ../../ccloud/fm-azure-service-bus-source/QueuesGettingStarted/
      args:
        TAG: ${TAG}
        CP_BASE_IMAGE: ${CP_BASE_IMAGE}
        KAFKA_CLIENT_TAG: ${KAFKA_CLIENT_TAG}
    hostname: simple-send
    container_name: simple-send