---
services:

  connect:
    volumes:
      - ../../connect/connect-http-sink/security:/tmp
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-http

  http-service-mtls-auth:
    image: vdesabou/http-sink-demo
    hostname: http-service-mtls-auth
    container_name: http-service-mtls-auth
    ports:
      - "8643:8443"
    environment:
      SPRING_PROFILES_ACTIVE: 'ssl-auth'


  testssl:
    image: drwetter/testssl.sh
    hostname: testssl
    container_name: testssl
    entrypoint: ["sh", "-c", "sleep infinity"]