{
  "name": "jdbc-cities",
  "config": {
    "connector.class": "io.confluent.connect.jdbc.JdbcSourceConnector",
    "connection.url": "jdbc:sqlite:/tmp/geos.db",
    "mode": "incrementing",
    "incrementing.column.name": "city_id",
    "topic.prefix": "",
    "table.whitelist": "cities",
    "value.converter": "io.confluent.connect.avro.AvroConverter",
    "value.converter.schema.registry.url": "http://schema-registry:8081",
    "value.converter.schemas.enable": "true",
    "transforms": "SetValueSchema",
    "transforms.SetValueSchema.type": "org.apache.kafka.connect.transforms.SetSchemaMetadata$Value",
    "transforms.SetValueSchema.schema.name": "io.confluent.developer.avro.City",
    "tasks.max": "1"
  }
}