---
services:
  connect:
    image: ${CP_CONNECT_IMAGE}:${CP_CONNECT_TAG}
    hostname: connect
    container_name: connect
    ports:
      - "8083:8083"
      - "5005:5005"
    volumes:
      - ../../ccloud/environment/data:/datacloud
      - ../../confluent-hub:/usr/share/confluent-hub-components
    environment:
      CONNECT_BOOTSTRAP_SERVERS: $BOOTSTRAP_SERVERS
      CONNECT_GROUP_ID: "connect-${TAG}"
      CONNECT_PRODUCER_CLIENT_ID: "connect-worker-producer"
      CONNECT_CLIENT_ID: "connect-adminclient-producer"
      CONNECT_CONFIG_STORAGE_TOPIC: connect-configs-${TAG}
      CONNECT_OFFSET_STORAGE_TOPIC: connect-offsets-${TAG}
      CONNECT_STATUS_STORAGE_TOPIC: connect-status-${TAG}
      CONNECT_REPLICATION_FACTOR: 3
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: 3
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: 3
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: 3
      CONNECT_KEY_CONVERTER: "org.apache.kafka.connect.storage.StringConverter"
      CONNECT_VALUE_CONVERTER: "io.confluent.connect.avro.AvroConverter"
      CONNECT_VALUE_CONVERTER_SCHEMAS_ENABLE: "true"
      CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL: $SCHEMA_REGISTRY_URL
      CONNECT_VALUE_CONVERTER_BASIC_AUTH_CREDENTIALS_SOURCE: $BASIC_AUTH_CREDENTIALS_SOURCE
      CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_BASIC_AUTH_USER_INFO: $SCHEMA_REGISTRY_BASIC_AUTH_USER_INFO
      CONNECT_INTERNAL_KEY_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      CONNECT_INTERNAL_VALUE_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      CONNECT_REST_ADVERTISED_HOST_NAME: "connect"
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-s3 # only load one connector to speed up deployment (it is overidden in connect tests)
      CONNECT_LOG4J_ROOT_LOGLEVEL: INFO
      CONNECT_LOG4J_LOGGERS: org.apache.zookeeper=ERROR,org.I0Itec.zkclient=ERROR,org.reflections=ERROR,org.apache.kafka.connect.runtime.rest.RestServer=ERROR
      CLASSPATH: /usr/share/java/monitoring-interceptors/monitoring-interceptors-${TAG_BASE}.jar
      CONNECT_CONNECTOR_CLIENT_CONFIG_OVERRIDE_POLICY: All
      # Connect worker
      CONNECT_SECURITY_PROTOCOL: SASL_SSL
      CONNECT_SASL_JAAS_CONFIG: $SASL_JAAS_CONFIG
      CONNECT_SASL_MECHANISM: PLAIN
      CONNECT_SSL_ENDPOINT_IDENTIFICATION_ALGORITHM: "HTTPS"
      # Connect producer
      CONNECT_PRODUCER_SECURITY_PROTOCOL: SASL_SSL
      CONNECT_PRODUCER_SASL_JAAS_CONFIG: $SASL_JAAS_CONFIG
      CONNECT_PRODUCER_SASL_MECHANISM: PLAIN
      CONNECT_PRODUCER_INTERCEPTOR_CLASSES: $CONNECT_PRODUCER_INTERCEPTOR_CLASSES
      CONNECT_PRODUCER_CONFLUENT_MONITORING_INTERCEPTOR_SECURITY_PROTOCOL: SASL_SSL
      CONNECT_PRODUCER_CONFLUENT_MONITORING_INTERCEPTOR_SASL_JAAS_CONFIG: $SASL_JAAS_CONFIG
      CONNECT_PRODUCER_CONFLUENT_MONITORING_INTERCEPTOR_SASL_MECHANISM: PLAIN
      # Connect consumer
      CONNECT_CONSUMER_SECURITY_PROTOCOL: SASL_SSL
      CONNECT_CONSUMER_SASL_JAAS_CONFIG: $SASL_JAAS_CONFIG
      CONNECT_CONSUMER_SASL_MECHANISM: PLAIN
      CONNECT_CONSUMER_INTERCEPTOR_CLASSES: $CONNECT_CONSUMER_INTERCEPTOR_CLASSES
      CONNECT_CONSUMER_CONFLUENT_MONITORING_INTERCEPTOR_SECURITY_PROTOCOL: SASL_SSL
      CONNECT_CONSUMER_CONFLUENT_MONITORING_INTERCEPTOR_SASL_JAAS_CONFIG: $SASL_JAAS_CONFIG
      CONNECT_CONSUMER_CONFLUENT_MONITORING_INTERCEPTOR_SASL_MECHANISM: PLAIN
      # Externalizing Secrets
      CONNECT_CONFIG_PROVIDERS: 'file'
      CONNECT_CONFIG_PROVIDERS_FILE_CLASS: 'org.apache.kafka.common.config.provider.FileConfigProvider'
      # Enable topic creation by the connect worker (as auto-topic creation is disabled on Confluent Cloud)
      CONNECT_TOPIC_CREATION_ENABLE: "true"
      KAFKA_DEBUG: 'true'
      # # With JDK9+, need to specify address=*:5005, see https://www.baeldung.com/java-application-remote-debugging#from-java9
      JAVA_DEBUG_OPTS: '-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=0.0.0.0:5005'
      CONNECT_LOG4J_APPENDER_STDOUT_LAYOUT_CONVERSIONPATTERN: "[%d] %p %X{connector.context}%m (%c:%L)%n"

      
  control-center:
    image: ${CP_CONTROL_CENTER_IMAGE}:${CP_CONTROL_CENTER_TAG}
    hostname: control-center
    container_name: control-center
    depends_on:
      - connect
    ports:
      - "${C3_PORT:-9021}:9021"
    profiles:
    - control-center
    environment:
      CONTROL_CENTER_BOOTSTRAP_SERVERS: $BOOTSTRAP_SERVERS
      CONTROL_CENTER_KSQL_URL: "http://ksql-server:8089"
      CONTROL_CENTER_KSQL_ADVERTISED_URL: "http://localhost:8089"
      CONTROL_CENTER_SCHEMA_REGISTRY_URL: $SCHEMA_REGISTRY_URL
      CONTROL_CENTER_SCHEMA_REGISTRY_BASIC_AUTH_CREDENTIALS_SOURCE: $BASIC_AUTH_CREDENTIALS_SOURCE
      CONTROL_CENTER_SCHEMA_REGISTRY_BASIC_AUTH_USER_INFO: $SCHEMA_REGISTRY_BASIC_AUTH_USER_INFO
      CONTROL_CENTER_CONNECT_CLUSTER: "connect:8083"
      CONTROL_CENTER_CONNECT_MYCONNECT_CLUSTER: http://connect:8083
      CONTROL_CENTER_STREAMS_SECURITY_PROTOCOL: SASL_SSL
      CONTROL_CENTER_STREAMS_SASL_JAAS_CONFIG: $SASL_JAAS_CONFIG
      CONTROL_CENTER_STREAMS_SASL_MECHANISM: PLAIN
      CONTROL_CENTER_REPLICATION_FACTOR: 3
      CONTROL_CENTER_MONITORING_INTERCEPTOR_TOPIC_REPLICATION: 3
      CONTROL_CENTER_INTERNAL_TOPICS_REPLICATION: 3
      CONTROL_CENTER_COMMAND_TOPIC_REPLICATION: 3
      CONTROL_CENTER_METRICS_TOPIC_REPLICATION: 3
      CONFLUENT_METRICS_TOPIC_REPLICATION: 3
      CONTROL_CENTER_STREAMS_NUM_STREAM_THREADS: 3
      CONTROL_CENTER_INTERNAL_TOPICS_PARTITIONS: 1
      CONTROL_CENTER_MONITORING_INTERCEPTOR_TOPIC_PARTITIONS: 1
      # Workaround for MMA-3564
      CONTROL_CENTER_METRICS_TOPIC_MAX_MESSAGE_BYTES: 8388608
      CONFLUENT_LICENSE: "$CONFLUENT_LICENSE"
      PORT: 9021
      CONTROL_CENTER_UI_AUTOUPDATE_ENABLE: "false"
      # CONTROL_CENTER_LOG4J_ROOT_LOGLEVEL: DEBUG
      # Email settings
      # CONTROL_CENTER_MAIL_ENABLED: "true"
      # CONTROL_CENTER_MAIL_HOST_NAME: "smtp.gmail.com"
      # CONTROL_CENTER_MAIL_PORT: 587
      # CONTROL_CENTER_MAIL_FROM: "toto@gmail.com"
      # CONTROL_CENTER_MAIL_USERNAME: "toto@gmail.com"
      # CONTROL_CENTER_MAIL_PASSWORD: "xxxx"
      # CONTROL_CENTER_MAIL_STARTTLS_REQUIRED: "true"
      # CONTROL_CENTER_MAIL_SSL_CHECKSERVERIDENTITY: "true"
      # CONTROL_CENTER_MAIL_BOUNCE_ADDRESS: "toto@gmail.com"
      # starting from 7.0
      CONTROL_CENTER_MODE_ENABLE: management

  # https://github.com/conduktor/conduktor-platform/blob/main/doc/Configuration.md
  conduktor:
    image: conduktor/conduktor-platform:latest
    hostname: conduktor
    container_name: conduktor
    depends_on:
      - connect
    ports:
      - 8080:80
    volumes:
      - ../../ccloud/environment/conduktor/platform-config.yaml:/tmp/platform-config.yaml
    environment:
      CDK_IN_CONF_FILE: /tmp/platform-config.yaml
      RUN_MODE: "nano"
      BOOTSTRAP_SERVERS: $BOOTSTRAP_SERVERS
      SASL_JAAS_CONFIG: $SASL_JAAS_CONFIG
      SCHEMA_REGISTRY_URL: $SCHEMA_REGISTRY_URL
      SR_USER: $SR_USER
      SR_PASSWORD: $SR_PASSWORD
    profiles:
      - "conduktor"

  prometheus:
    image: prom/prometheus:v2.29.2
    hostname: prometheus
    container_name: prometheus
    profiles:
      - "grafana"
    ports:
      - 9090:9090
    volumes:
      - ./prometheus/:/etc/prometheus/

  grafana:
    image: grafana/grafana:11.1.0
    hostname: grafana
    container_name: grafana
    profiles:
      - "grafana"
    environment:
      - "GF_SECURITY_ADMIN_USER=admin"
      - "GF_SECURITY_ADMIN_PASSWORD=password"
      - "GF_USERS_ALLOW_SIGN_UP=false"
    ports:
      - 3000:3000
    volumes:
      - ./grafana/provisioning/:/etc/grafana/provisioning/
      - ./grafana/config/grafana.ini:/etc/grafana/grafana.ini
      - ./grafana/confluent:/usr/share/grafana/public/img/icons/confluent
    depends_on:
      - prometheus

  confluent_cost_exporter:
    profiles:
      - "grafana"
    image: docker.io/mcolomerc/confluent-costs-exporter:latest
    #platform: linux/amd64
    container_name: confluent_cost_exporter
    environment:
    - CONFLUENT_CLOUD_API_KEY=$CLOUD_API_KEY
    - CONFLUENT_CLOUD_API_SECRET=$CLOUD_API_SECRET
    - CACHE_EXPIRATION=240m
    - PORT=7979 
    ports:
      - 7979:7979

  # 75147
  # schema-registry:
  #   image: ${CP_SCHEMA_REGISTRY_IMAGE}:${CP_SCHEMA_REGISTRY_TAG}
  #   hostname: schema-registry
  #   container_name: schema-registry
  #   ports:
  #     - '8081:8081'
  #   environment:
  #     SCHEMA_REGISTRY_HOST_NAME: schema-registry
  #     SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
  #     SCHEMA_REGISTRY_KAFKASTORE_SECURITY_PROTOCOL: "SASL_SSL"
  #     SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: $BOOTSTRAP_SERVERS
  #     SCHEMA_REGISTRY_KAFKASTORE_SASL_JAAS_CONFIG: $SASL_JAAS_CONFIG
  #     SCHEMA_REGISTRY_KAFKASTORE_SASL_MECHANISM: "PLAIN"
  #     SCHEMA_REGISTRY_SCHEMA_COMPATIBILITY_LEVEL: none
  #     SCHEMA_REGISTRY_SCHEMA_REGISTRY_GROUP_ID: myid
  #     SCHEMA_REGISTRY_KAFKASTORE_GROUP_ID: myid2
  #     SCHEMA_REGISTRY_LEADER_ELIGIBILITY: "true"
  #     SCHEMA_REGISTRY_KAFKASTORE_TOPIC: "my_schemas_topic"
  #     SCHEMA_REGISTRY_LOG4J_ROOT_LOGLEVEL: "DEBUG"
  
  # ACLs
  # User:339785 | sa-ld2rdd        | ALLOW      | DESCRIBE         | TOPIC    | my_schemas_topic      | LITERAL  
  # User:339785 | sa-ld2rdd        | ALLOW      | DESCRIBE_CONFIGS | TOPIC    | my_schemas_topic      | LITERAL  
  # User:339785 | sa-ld2rdd        | ALLOW      | CREATE           | TOPIC    | my_schemas_topic      | LITERAL  
  # User:339785 | sa-ld2rdd        | ALLOW      | READ             | TOPIC    | my_schemas_topic      | LITERAL  
  # User:339785 | sa-ld2rdd        | ALLOW      | WRITE            | TOPIC    | my_schemas_topic      | LITERAL  
  # User:339785 | sa-ld2rdd        | ALLOW      | DESCRIBE         | CLUSTER  | kafka-cluster         | LITERAL  
  # User:339785 | sa-ld2rdd        | ALLOW      | READ             | GROUP    | myid                  | LITERAL



# For connect:

#     Principal    | Permission |    Operation     | Resource Type | Resource Name | Pattern Type  
# -----------------+------------+------------------+---------------+---------------+---------------
#   User:sa-xxxxxx | ALLOW      | READ             | TOPIC         | _confluent    | PREFIXED      
#   User:sa-xxxxxx | ALLOW      | WRITE            | TOPIC         | _confluent    | PREFIXED      
#   User:sa-xxxxxx | ALLOW      | CREATE           | TOPIC         | _confluent    | PREFIXED      
#   User:sa-xxxxxx | ALLOW      | READ             | TOPIC         | connect-      | PREFIXED      
#   User:sa-xxxxxx | ALLOW      | WRITE            | TOPIC         | connect-      | PREFIXED      
#   User:sa-xxxxxx | ALLOW      | CREATE           | TOPIC         | connect-      | PREFIXED      
#   User:sa-xxxxxx | ALLOW      | READ             | GROUP         | connect       | LITERAL       
#   User:sa-xxxxxx | ALLOW      | DESCRIBE         | CLUSTER       | kafka-cluster | LITERAL       
#   User:sa-xxxxxx | ALLOW      | IDEMPOTENT_WRITE | CLUSTER       | kafka-cluster | LITERAL 
