---
services:

  # https://neo4j.com/docs/operations-manual/current/docker/introduction/
  neo4j:
    image: neo4j:latest
    hostname: neo4j
    container_name: neo4j
    restart: always
    ports:
    - "7474:7474"
    - "7687:7687"
    environment:
      NEO4J_AUTH: neo4j/C0nne6tPassw0rd
      NEO4J_dbms_memory_heap_max__size: 4G
      NEO4J_ACCEPT_LICENSE_AGREEMENT: 'yes'

  # https://ngrok.com/docs/using-ngrok-with/docker/
  ngrok:
    image: ngrok/ngrok:latest
    hostname: ngrok
    container_name: ngrok
    ports:
      - 4040:4040
    restart: unless-stopped
    links:
      - neo4j
    command:
      - "start"
      - "--all"
      - "--log=stdout"
      - "--config"
      - "/etc/ngrok.yml"
    volumes:
      - ../../ccloud/fm-neo4j-sink/ngrok.yml:/etc/ngrok.yml
    environment:
      NGROK_AUTHTOKEN: $NGROK_AUTH_TOKEN