---
version: '3.5'
services:
  couchbase:
    image: couchbase # https://hub.docker.com/_/couchbase
    hostname: couchbase
    container_name: couchbase
    ports:
      - "8091-8094:8091-8094"
      - "11210:11210"

  connect:
    depends_on:
      - zookeeper
      - broker
      - schema-registry
      - couchbase
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/kafka-connect-couchbase

  json-producer:
    build:
      context: ../../connect/connect-couchbase-sink/json-producer/
      args:
        TAG: ${TAG}
        CP_BASE_IMAGE: ${CP_BASE_IMAGE}
        KAFKA_CLIENT_TAG: ${KAFKA_CLIENT_TAG}
    hostname: json-producer
    container_name: json-producer