---
services:
  tibco-ems:
    image: tibems:latest
    hostname: tibco-ems
    container_name: tibco-ems
    volumes:
        - ../../connect/connect-tibco-sink/tibjmsMsgConsumer.java:/opt/tibco/ems/8.5/samples/java/tibjmsMsgConsumer.java
    ports:
      - '7222:7222'

  connect:
    depends_on:
      - tibco-ems
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-tibco-sink
