---
services:

  cockroachdb:
    image: cockroachdb/cockroach:v21.2.17
    hostname: cockroachdb
    container_name: cockroachdb
    command: start-single-node --insecure
    ports:
      - "8080:8080"
      - "26257:26257"

  connect:
    depends_on:
      - cockroachdb
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-jdbc