<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vdesabou.aws.vscode</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>08DD2140-3367-4084-AA48-409407DC371E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D09DE34-3943-46D5-9510-89E3F6AAEBC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37098AD4-0E49-415E-B6A3-73B0F73D5A6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>434301E8-5AC3-4444-9A7D-E55298C4C149</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AFF95CB-4FA8-4F17-9596-9240B61F581C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>881B92E8-9A98-4925-A4FC-2A2E8149C5A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C82BD2C6-06B3-4923-8F92-B82E9F1D3548</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>434301E8-5AC3-4444-9A7D-E55298C4C149</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7712ACEE-EBB3-42B6-9BA1-406AD433A6E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>581FEBB5-582A-4CB8-B12D-D614B9879C4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>881B92E8-9A98-4925-A4FC-2A2E8149C5A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E6A7C669-E98C-49B5-B1D2-CE3A3A8FDE77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E45B604A-29CC-4C3F-A041-B647302B414B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy DNS name to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59413F48-E1A7-47C9-AAF7-88D22E448F18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95299685-5E13-487D-BE62-1BDAD8C6B8C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7712ACEE-EBB3-42B6-9BA1-406AD433A6E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E65DE2C7-14B4-4865-B226-8866EF1F281F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CD3C910-6B8B-4A74-BA93-02255231A4DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>881B92E8-9A98-4925-A4FC-2A2E8149C5A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>37098AD4-0E49-415E-B6A3-73B0F73D5A6C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D09DE34-3943-46D5-9510-89E3F6AAEBC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1396DB3B-2A78-46CD-8879-FC478D6EDCB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8EBB65A4-621E-4D19-8231-B689352F6957</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D937265C-BC71-4283-81A0-05591F9BBFDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9257CCB5-E7E2-4DF3-886D-939FD48D1355</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7712ACEE-EBB3-42B6-9BA1-406AD433A6E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95299685-5E13-487D-BE62-1BDAD8C6B8C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEFC92E3-81AA-4BC5-863C-97A18E7BE170</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0E694E1-0BC9-41CA-AF45-E915531AA9E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95299685-5E13-487D-BE62-1BDAD8C6B8C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD08B53F-8A52-4C57-9CD9-8A5C08998D4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>881B92E8-9A98-4925-A4FC-2A2E8149C5A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1181120C-5AC8-4B05-9D4C-A89BA4DF908E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3D440CE3-880D-4344-A425-1387C6A7A64B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Terminate instance ⚰</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C82BD2C6-06B3-4923-8F92-B82E9F1D3548</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59413F48-E1A7-47C9-AAF7-88D22E448F18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D937265C-BC71-4283-81A0-05591F9BBFDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62A7A0E2-4832-45B0-9B95-1F71BB0B3211</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E45B604A-29CC-4C3F-A041-B647302B414B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AA187B3-5516-47A7-9F4A-52AF26FCF61E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6A7C669-E98C-49B5-B1D2-CE3A3A8FDE77</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>vdesabou</string>
	<key>description</key>
	<string>Create and manage AWS EC2 instances to run kafka-docker-playground</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AWS EC2</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist='https://github.com/vdesabou/kafka-docker-playground/raw/master/cloudformation/alfred-aws-vscode-workflow/info.plist'
readonly workflow_url='https://github.com/vdesabou/kafka-docker-playground/raw/master/cloudformation/aws-ec2-kafka-docker-playground.alfred5workflow'
readonly download_type='direct'
readonly frequency_check='0'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type f -name 'notificator')"

  if [[ -f "${notificator}" &amp;&amp; "$(/usr/bin/file --brief --mime-type "${notificator}")" == 'text/x-shellscript' ]]; then
    "${notificator}" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  # Remote sanity check
  if ! url_exists "${remote_info_plist}"; then
    abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."
  fi

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"
  rm "${tmp_file}"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  readonly download_url="$(
    if [[ "${download_type}" == 'github_release' ]]; then
      osascript -l JavaScript -e 'function run(argv) { return JSON.parse(argv[0])["assets"].find(asset =&gt; asset["browser_download_url"].endsWith(".alfredworkflow"))["browser_download_url"] }' "$(curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest")"
    else
      echo "${workflow_url}"
    fi
  )"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    readonly download_name="$(basename "${download_url}")"
    curl --silent --location --output "${HOME}/Downloads/${download_name}" "${download_url}"
    open "${HOME}/Downloads/${download_name}"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>881B92E8-9A98-4925-A4FC-2A2E8149C5A2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>awsec2stopall</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>9257CCB5-E7E2-4DF3-886D-939FD48D1355</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ksh ./ec2stopall.ksh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7712ACEE-EBB3-42B6-9BA1-406AD433A6E7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Are you sure ?"},{"title":"👍","arg":"yes"},{"title":"❌"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Are you sure ?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>37098AD4-0E49-415E-B6A3-73B0F73D5A6C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>aws_stopall_ec2_instance</string>
				<key>subtext</key>
				<string>Only your kafka-docker-playground instances will be stopped</string>
				<key>text</key>
				<string>🛑 Stop all your kafka-docker-playground AWS EC2 instances</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7CD3C910-6B8B-4A74-BA93-02255231A4DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>E65DE2C7-14B4-4865-B226-8866EF1F281F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>aws_stopstart_ec2_instance</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Wait for it...</string>
				<key>script</key>
				<string>ksh ec2startandstop.ksh {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>You can stop or start EC2 instance</string>
				<key>title</key>
				<string>🚦 Start or stop AWS EC2 instances</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BD08B53F-8A52-4C57-9CD9-8A5C08998D4C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

id=$(echo $query | cut -d "|" -f 1)
command=$(echo $query | cut -d "|" -f 2)
$aws_cli ec2 $command-instances --instance-ids $id</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1181120C-5AC8-4B05-9D4C-A89BA4DF908E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>yes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>434301E8-5AC3-4444-9A7D-E55298C4C149</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>aws_open_ec2_instance_vscode</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Wait for it...</string>
				<key>script</key>
				<string>ksh ec2.ksh</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>If the instance is stopped, it will start it</string>
				<key>title</key>
				<string>📂 Open AWS EC2 instance in Visual Studio</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>581FEBB5-582A-4CB8-B12D-D614B9879C4C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ksh ./ec2openec2.ksh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E6A7C669-E98C-49B5-B1D2-CE3A3A8FDE77</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

id=$(echo $query | cut -d "|" -f 1)
$aws_cli ec2 terminate-instances --instance-ids $id</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D440CE3-880D-4344-A425-1387C6A7A64B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3AA187B3-5516-47A7-9F4A-52AF26FCF61E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

ip=$(echo $query | cut -d "|" -f 1)
echo "$ip"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E45B604A-29CC-4C3F-A041-B647302B414B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>awsec2startall</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A0E694E1-0BC9-41CA-AF45-E915531AA9E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>EEFC92E3-81AA-4BC5-863C-97A18E7BE170</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ksh ./ec2startall.ksh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>95299685-5E13-487D-BE62-1BDAD8C6B8C1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>62A7A0E2-4832-45B0-9B95-1F71BB0B3211</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ksh ./create-stack-playground.ksh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D937265C-BC71-4283-81A0-05591F9BBFDF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>aws_cloud_formation_create</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>ksh create-cloudformation.ksh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>❗Creating AWS EC2 instances will induce charges</string>
				<key>title</key>
				<string>👷Create kafka-docker-playground EC2 instance using AWS CloudFormation</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8EBB65A4-621E-4D19-8231-B689352F6957</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>aws_startall_ec2_instance</string>
				<key>subtext</key>
				<string>Only your kafka-docker-playground instances will be started</string>
				<key>text</key>
				<string>🟢 Start all your kafka-docker-playground AWS EC2 instances</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3AFF95CB-4FA8-4F17-9596-9240B61F581C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Are you sure ?"},{"title":"👍","arg":"yes"},{"title":"❌"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Are you sure ?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>C82BD2C6-06B3-4923-8F92-B82E9F1D3548</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>yes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>59413F48-E1A7-47C9-AAF7-88D22E448F18</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>1396DB3B-2A78-46CD-8879-FC478D6EDCB4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$aws_cli cloudformation delete-stack --stack-name "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8D09DE34-3943-46D5-9510-89E3F6AAEBC8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>aws_cloud_formation_delete</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>ksh cloudformation.ksh {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>WARNING:  This will delete your cloud formation and associated EC2 instance</string>
				<key>title</key>
				<string>💀 Delete EC2 instance using AWS CloudFormation</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>08DD2140-3367-4084-AA48-409407DC371E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># ☁️ AWS EC2 Alfred workflow

* ✨ Create and manage AWS EC2 instances to run kafka-docker-playground

* 🪄 Open EC2 instances directly in Visual Studio code using [Remote Development](https://code.visualstudio.com/docs/remote/ssh) (over SSH)

![Example](example.png)

## 🎯 Commands available

![Example](commands.png)

## ☑️ Prerequisites

* `aws` should be installed: `brew install awscli` and correctly [configured](https://docs.aws.amazon.com/cli/latest/userguide/getting-started-prereqs.html) with credentials.
* `jq` should be installed: `brew install jq`
* `code` should be installed: 
  * open Visual Studio Code
  * Then press the keys command-shift-P (or ⌘-⇧-P), a text field should appear, stating with a `&gt;` 
  * Now, type "Shell Command: Install ‘code’ command in PATH", and click on the option.

## 🛠 Configuration

👈 Click on `Configure Workflow..` button.</string>
	<key>uidata</key>
	<dict>
		<key>08DD2140-3367-4084-AA48-409407DC371E</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>delete</string>
			<key>xpos</key>
			<real>155</real>
			<key>ypos</key>
			<real>965</real>
		</dict>
		<key>1181120C-5AC8-4B05-9D4C-A89BA4DF908E</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>1396DB3B-2A78-46CD-8879-FC478D6EDCB4</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>960</real>
		</dict>
		<key>37098AD4-0E49-415E-B6A3-73B0F73D5A6C</key>
		<dict>
			<key>xpos</key>
			<real>1265</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>3AA187B3-5516-47A7-9F4A-52AF26FCF61E</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>3AFF95CB-4FA8-4F17-9596-9240B61F581C</key>
		<dict>
			<key>xpos</key>
			<real>930</real>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>3D440CE3-880D-4344-A425-1387C6A7A64B</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>434301E8-5AC3-4444-9A7D-E55298C4C149</key>
		<dict>
			<key>xpos</key>
			<real>1435</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>581FEBB5-582A-4CB8-B12D-D614B9879C4C</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>59413F48-E1A7-47C9-AAF7-88D22E448F18</key>
		<dict>
			<key>xpos</key>
			<real>1340</real>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>62A7A0E2-4832-45B0-9B95-1F71BB0B3211</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>7712ACEE-EBB3-42B6-9BA1-406AD433A6E7</key>
		<dict>
			<key>xpos</key>
			<real>1475</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>7CD3C910-6B8B-4A74-BA93-02255231A4DB</key>
		<dict>
			<key>xpos</key>
			<real>1095</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>881B92E8-9A98-4925-A4FC-2A2E8149C5A2</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>8D09DE34-3943-46D5-9510-89E3F6AAEBC8</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>965</real>
		</dict>
		<key>8EBB65A4-621E-4D19-8231-B689352F6957</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>create</string>
			<key>xpos</key>
			<real>160</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>9257CCB5-E7E2-4DF3-886D-939FD48D1355</key>
		<dict>
			<key>xpos</key>
			<real>1160</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>95299685-5E13-487D-BE62-1BDAD8C6B8C1</key>
		<dict>
			<key>xpos</key>
			<real>1375</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>A0E694E1-0BC9-41CA-AF45-E915531AA9E0</key>
		<dict>
			<key>xpos</key>
			<real>1145</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>BD08B53F-8A52-4C57-9CD9-8A5C08998D4C</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>C82BD2C6-06B3-4923-8F92-B82E9F1D3548</key>
		<dict>
			<key>xpos</key>
			<real>1125</real>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>D937265C-BC71-4283-81A0-05591F9BBFDF</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>E45B604A-29CC-4C3F-A041-B647302B414B</key>
		<dict>
			<key>note</key>
			<string>get ip</string>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>E65DE2C7-14B4-4865-B226-8866EF1F281F</key>
		<dict>
			<key>xpos</key>
			<real>1640</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>E6A7C669-E98C-49B5-B1D2-CE3A3A8FDE77</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>EEFC92E3-81AA-4BC5-863C-97A18E7BE170</key>
		<dict>
			<key>xpos</key>
			<real>1585</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>kafka-docker-playground.yml</string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string>kafka-docker-playground.yml</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>By default it will use kafka-docker-playground.yml</string>
			<key>label</key>
			<string>📝Cloud Formation template</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>cloud_formation_yml_file</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Name of an existing AWS EC2 PEM to enable SSH access to the instance</string>
			<key>label</key>
			<string>🔐AWS EC2 pem file</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>ssh_pem_file</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>t3.2xlarge</string>
				<key>pairs</key>
				<array>
					<array>
						<string>t1.micro</string>
						<string>t1.micro</string>
					</array>
					<array>
						<string>t2.nano</string>
						<string>t2.nano</string>
					</array>
					<array>
						<string>t2.micro</string>
						<string>t2.micro</string>
					</array>
					<array>
						<string>t2.small</string>
						<string>t2.small</string>
					</array>
					<array>
						<string>t2.medium</string>
						<string>t2.medium</string>
					</array>
					<array>
						<string>t2.large</string>
						<string>t2.large</string>
					</array>
					<array>
						<string>t3.2xlarge</string>
						<string>t3.2xlarge</string>
					</array>
					<array>
						<string>m1.small</string>
						<string>m1.small</string>
					</array>
					<array>
						<string>m1.medium</string>
						<string>m1.medium</string>
					</array>
					<array>
						<string>m1.large</string>
						<string>m1.large</string>
					</array>
					<array>
						<string>m1.xlarge</string>
						<string>m1.xlarge</string>
					</array>
					<array>
						<string>m2.xlarge</string>
						<string>m2.xlarge</string>
					</array>
					<array>
						<string>m2.2xlarge</string>
						<string>m2.2xlarge</string>
					</array>
					<array>
						<string>m2.4xlarge</string>
						<string>m2.4xlarge</string>
					</array>
					<array>
						<string>m3.medium</string>
						<string>m3.medium</string>
					</array>
					<array>
						<string>m3.large</string>
						<string>m3.large</string>
					</array>
					<array>
						<string>m3.xlarge</string>
						<string>m3.xlarge</string>
					</array>
					<array>
						<string>m3.2xlarge</string>
						<string>m3.2xlarge</string>
					</array>
					<array>
						<string>m4.large</string>
						<string>m4.large</string>
					</array>
					<array>
						<string>m4.xlarge</string>
						<string>m4.xlarge</string>
					</array>
					<array>
						<string>m4.2xlarge</string>
						<string>m4.2xlarge</string>
					</array>
					<array>
						<string>m4.4xlarge</string>
						<string>m4.4xlarge</string>
					</array>
					<array>
						<string>m4.10xlarge</string>
						<string>m4.10xlarge</string>
					</array>
					<array>
						<string>c1.medium</string>
						<string>c1.medium</string>
					</array>
					<array>
						<string>c1.xlarge</string>
						<string>c1.xlarge</string>
					</array>
					<array>
						<string>c3.large</string>
						<string>c3.large</string>
					</array>
					<array>
						<string>c3.xlarge</string>
						<string>c3.xlarge</string>
					</array>
					<array>
						<string>c3.2xlarge</string>
						<string>c3.2xlarge</string>
					</array>
					<array>
						<string>c3.4xlarge</string>
						<string>c3.4xlarge</string>
					</array>
					<array>
						<string>c3.8xlarge</string>
						<string>c3.8xlarge</string>
					</array>
					<array>
						<string>c4.large</string>
						<string>c4.large</string>
					</array>
					<array>
						<string>c4.xlarge</string>
						<string>c4.xlarge</string>
					</array>
					<array>
						<string>c4.2xlarge</string>
						<string>c4.2xlarge</string>
					</array>
					<array>
						<string>c4.4xlarge</string>
						<string>c4.4xlarge</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Type of the EC2 instance</string>
			<key>label</key>
			<string>🖥️EC2 Instance Type</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>instance_type</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>us-east-1</string>
				<key>pairs</key>
				<array>
					<array>
						<string>us-east-1</string>
						<string>us-east-1</string>
					</array>
					<array>
						<string>us-east-2</string>
						<string>us-east-2</string>
					</array>
					<array>
						<string>us-west-1</string>
						<string>us-west-1</string>
					</array>
					<array>
						<string>us-west-2</string>
						<string>us-west-2</string>
					</array>
					<array>
						<string>eu-west-1</string>
						<string>eu-west-1</string>
					</array>
					<array>
						<string>eu-west-2</string>
						<string>eu-west-2</string>
					</array>
					<array>
						<string>eu-west-3</string>
						<string>eu-west-3</string>
					</array>
					<array>
						<string>eu-central-1</string>
						<string>eu-central-1</string>
					</array>
					<array>
						<string>eu-north-1</string>
						<string>eu-north-1</string>
					</array>
					<array>
						<string>ap-northeast-1</string>
						<string>ap-northeast-1</string>
					</array>
					<array>
						<string>ap-northeast-2</string>
						<string>ap-northeast-2</string>
					</array>
					<array>
						<string>ap-northeast-3</string>
						<string>ap-northeast-3</string>
					</array>
					<array>
						<string>ap-southeast-1</string>
						<string>ap-southeast-1</string>
					</array>
					<array>
						<string>ap-southeast-2</string>
						<string>ap-southeast-2</string>
					</array>
					<array>
						<string>ap-south-1</string>
						<string>ap-south-1</string>
					</array>
					<array>
						<string>ca-central-1</string>
						<string>ca-central-1</string>
					</array>
					<array>
						<string>sa-east-1</string>
						<string>sa-east-1</string>
					</array>
					<array>
						<string>cn-north-1</string>
						<string>cn-north-1&gt;</string>
					</array>
					<array>
						<string>cn-northwest-1</string>
						<string>cn-northwest-1</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>AWS region to use</string>
			<key>label</key>
			<string>🌍AWS Region</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>aws_region</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>300</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Size in Gb</string>
			<key>label</key>
			<string>💾EC2 Instance Size</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ec2_size</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>/usr/local/bin/aws</string>
				<key>placeholder</key>
				<string>/usr/local/bin/aws</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>It is generally set with /usr/local/bin/aws</string>
			<key>label</key>
			<string>📍Path of aws CLI</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>aws_cli</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>uncheck to see all EC2 instances</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>🙈Only see your playground EC2 instances</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>only_see_your_instance</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>SSH private key used to connect to Github (for reproduction-models private module only)</string>
			<key>label</key>
			<string>🔏Github SSH Key</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>github_ssh_key_file</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>not required</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>🚫 Used only by me</string>
			<key>label</key>
			<string>🔏SECRETS_ENCRYPTION_PASSWORD</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>SECRETS_ENCRYPTION_PASSWORD</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.8</string>
	<key>webaddress</key>
	<string>https://github.com/vdesabou/kafka-docker-playground/tree/master/cloudformation/alfred-aws-vscode-workflow</string>
</dict>
</plist>
