---
services:

  singlestore:
    image:  ghcr.io/singlestore-labs/singlestoredb-dev
    hostname: singlestore
    container_name: singlestore
    environment:
      LICENSE_KEY: "BDY3MWY1YjBlODE5MTQ5MzFiN2U3YjE5MmIxZTA3MjE1AAAAAAAAAAAEAAAAAAAAAAwwNAIYCEGeOFLkBLpI/heNrajZSFMOCSk7070QAhgaIkGN1St1VNrSETEYU5FpyrKXI7uR3LoAAA=="
      ROOT_PASSWORD: "root"

  connect:
    depends_on:
      - singlestore
    volumes:
        - ../../connect/connect-jdbc-singlestore-source/mysql-connector-java-5.1.45.jar:/usr/share/confluent-hub-components/confluentinc-kafka-connect-jdbc/lib/mysql-connector-java-5.1.45.jar
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-jdbc
