bootstrap.servers=__USER__.__DOMAIN__:9092
security.protocol=SSL
ssl.keystore.location=/tmp/keystore.jks
ssl.keystore.password=mystorepassword
ssl.key.password=mystorepassword
ssl.truststore.location=/tmp/truststore.jks
ssl.truststore.password=mystorepassword
