---
services:

  sap:
    # https://github.com/mpern/hana-docker
    image: "saplabs/hanaexpress:2.00.072.00.20231123.1"
    restart: "unless-stopped"
    hostname: sap
    container_name: sap
    volumes:
      - ../../connect/connect-sap-hana-sink/post_start:/hana/hooks/post_start/
    environment: 
      - DUMP_FOLDER=DUMP
      - SOURCE_SCHEMA=SOURCE
      - SCHEMA_NAME=LOCALDEV
      - SCHEMA_PWD=Localdev1
    command:
      - --agree-to-sap-license
      - --dont-check-system
      - --dont-check-mount-points
      - --master-password
      - HXEHana1

  connect:
    volumes:
      - ../../connect/connect-sap-hana-sink/kafka-connector-hana_2.13-$CONNECTOR_VERSION.jar:/usr/share/sap-hana-connector/lib/kafka-connector-hana_2.13-$CONNECTOR_VERSION.jar
      - ../../connect/connect-sap-hana-sink/ngdbc-2.12.9.jar:/usr/share/sap-hana-connector/lib/ngdbc-2.12.9.jar
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/java/,/usr/share/sap-hana-connector
