---
version: '3.5'
services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.1.2-java8 # https://github.com/big-data-europe/docker-hadoop/tree/2.0.0-hadoop3.1.2-java8
    hostname: namenode
    container_name: namenode
    ports:
      - "9000:9000"
    volumes:
      - namenode:/hadoop/dfs/name
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ../../connect/connect-hdfs3-source/hadoop.env

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.1.2-java8
    hostname: datanode
    container_name: datanode
    volumes:
      - datanode:/hadoop/dfs/data
    env_file:
      - ../../connect/connect-hdfs3-source/hadoop.env
    environment:
      SERVICE_PRECONDITION: "namenode:9870"

  resourcemanager:
    image: bde2020/hadoop-resourcemanager:2.0.0-hadoop3.1.2-java8
    hostname: resourcemanager
    container_name: resourcemanager
    environment:
      SERVICE_PRECONDITION: "namenode:9870 datanode:9864"
    env_file:
      - ../../connect/connect-hdfs3-source/hadoop.env

  nodemanager:
    image: bde2020/hadoop-nodemanager:2.0.0-hadoop3.1.2-java8
    hostname: nodemanager
    container_name: nodemanager
    environment:
      SERVICE_PRECONDITION: "namenode:9870 datanode:9864 resourcemanager:8088"
    env_file:
      - ../../connect/connect-hdfs3-source/hadoop.env

  historyserver:
    image: bde2020/hadoop-historyserver:2.0.0-hadoop3.1.2-java8
    hostname: historyserver
    container_name: historyserver
    volumes:
      - hadoop_historyserver:/hadoop/yarn/timeline
    environment:
      SERVICE_PRECONDITION: "namenode:9870 datanode:9864 resourcemanager:8088"
    env_file:
      - ../../connect/connect-hdfs3-source/hadoop.env

  connect:
    depends_on:
      - nodemanager
      - historyserver
      - datanode
      - resourcemanager
      - namenode
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-hdfs3,/usr/share/confluent-hub-components/confluentinc-kafka-connect-hdfs3-source

volumes:
  datanode:
  namenode:
  hadoop_historyserver:
