---
version: '3.5'
services:
  connect:
    volumes:
      - secret:/var/lib/secret
      - ../../environment/kerberos/kdc/krb5.conf:/etc/krb5.conf
      - ../../connect/connect-gcp-gcs-sink/keyfile.json:/root/keyfiles/keyfile.json:ro
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-gcs