Host *
    #disable host key checking: avoid asking for the keyprint authenticity
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    #enable hashing known_host file
    HashKnownHosts yes
    #IdentityFile allows to specify exactly which private key I wish to use for authentification
    IdentityFile ../cp_ansible_playground_id_rsa
Host zookeeper1
    HostName localhost
    User root
    Port 2220
Host broker1
    HostName localhost
    User root
    Port 2230
Host broker2
    HostName localhost
    User root
    Port 2231
Host schema-registry
    HostName localhost
    User root
    Port 2240
Host connect
    HostName localhost
    User root
    Port 2250
Host rest-proxy
    HostName localhost
    User root
    Port 2260
Host ksql-server
    HostName localhost
    User root
    Port 2270
Host control-center
    HostName localhost
    User root
    Port 2280