---
version: '3.5'
services:
  postgres:
    image: debezium/postgres:10

    hostname: postgres
    container_name: postgres
    environment:
     - POSTGRES_USER=postgres
     - POSTGRES_PASSWORD=postgres
    volumes:
     - ../../connect/connect-debezium-postgresql-source/customers-wal2json-issue.sql:/docker-entrypoint-initdb.d/z99_dump.sql

  connect:
    depends_on:
      - zookeeper
      - broker
      - schema-registry
      - postgres
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/debezium-debezium-connector-postgresql