---
version: '3.5'
services:

  connect:
    volumes:
      - ../connect-http-sink/security:/etc/kafka/secrets


  http-service-no-auth:
    image: vdesabou/http-sink-demo # created from https://github.com/vdesabou/kafka-connect-http-demo with mvn clean install -DskipTests && docker build -t vdesabou/http-sink-demo:latest . && docker push vdesabou/http-sink-demo:latest
    hostname: http-service-no-auth
    container_name: http-service-no-auth
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: 'simple-auth'

  http-service-basic-auth:
    image: vdesabou/http-sink-demo
    hostname: http-service-basic-auth
    container_name: http-service-basic-auth
    ports:
      - "9080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: 'basic-auth'

  # for testing error 500
  http-service-no-auth-500:
    image: vdesabou/http-service-no-auth-500
    hostname: http-service-no-auth-500
    container_name: http-service-no-auth-500
    ports:
      - "9082:8080"
    environment:
      SPRING_PROFILES_ACTIVE: 'simple-auth'

  # for testing error 204
  http-service-basic-auth-204:
    image: vdesabou/http-sink-demo-error-204
    hostname: http-service-basic-auth-204
    container_name: http-service-basic-auth-204
    ports:
      - "9081:8080"
    environment:
      SPRING_PROFILES_ACTIVE: 'basic-auth'

  http-service-oauth2-auth:
    image: vdesabou/http-sink-demo
    hostname: http-service-oauth2-auth
    container_name: http-service-oauth2-auth
    ports:
      - "10080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: 'oauth2'

  http-service-ssl-auth:
    image: vdesabou/http-sink-demo
    hostname: http-service-ssl-auth
    container_name: http-service-ssl-auth
    ports:
      - "8443:8443"
    environment:
      SPRING_PROFILES_ACTIVE: 'ssl-auth'

  http-service-ssl-auth-no-ssl-endpoint-identification:
    image: vdesabou/http-sink-demo-wrongssl
    hostname: http-service-ssl-auth
    container_name: http-service-ssl-auth
    ports:
      - "8543:8443"
    environment:
      SPRING_PROFILES_ACTIVE: 'ssl-auth'