AZURE_DATALAKE_CLIENT_ID=:AZURE_DATALAKE_CLIENT_ID:
AZURE_DATALAKE_CLIENT_PASSWORD=:AZURE_DATALAKE_CLIENT_PASSWORD:
AZURE_DATALAKE_ACCOUNT_NAME=:AZURE_DATALAKE_ACCOUNT_NAME:
AZURE_DATALAKE_TOKEN_ENDPOINT=:AZURE_DATALAKE_TOKEN_ENDPOINT: