---
version: '3.5'
services:

  producer-repro-107846:
    build:
      context: ../../reproduction-models/connect-connect-http-sink/producer-repro-107846/
    hostname: producer
    container_name: producer-repro-107846
    environment:
      KAFKA_BOOTSTRAP_SERVERS: broker:9092
      TOPIC: "customer_avro"
      REPLICATION_FACTOR: 1
      NUMBER_OF_PARTITIONS: 1
      NB_MESSAGES: 10 # -1 for MAX_VALUE
      MESSAGE_BACKOFF: 1000 # Frequency of message injection
      KAFKA_ACKS: "all" # default: "1"
      KAFKA_REQUEST_TIMEOUT_MS: 20000
      KAFKA_RETRY_BACKOFF_MS: 500
      KAFKA_CLIENT_ID: "my-java-producer-repro-107846"
      KAFKA_SCHEMA_REGISTRY_URL: "http://schema-registry:8081"
      JAVA_OPTS: 
    volumes:
      - ../../environment/plaintext/jmx-exporter:/usr/share/jmx_exporter/



  connect:
    volumes:
      - ../../connect/connect-http-sink/security:/tmp
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/confluentinc-kafka-connect-http

  http-service-no-auth:
    image: vdesabou/http-sink-demo # created from https://github.com/vdesabou/kafka-connect-http-demo with mvn clean install -DskipTests && docker build -t vdesabou/http-sink-demo:latest . && docker push vdesabou/http-sink-demo:latest
    hostname: http-service-no-auth
    container_name: http-service-no-auth
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: 'simple-auth'

  http-service-basic-auth:
    image: vdesabou/http-sink-demo
    hostname: http-service-basic-auth
    container_name: http-service-basic-auth
    ports:
      - "9083:8080"
    environment:
      SPRING_PROFILES_ACTIVE: 'basic-auth'

  # for testing error 500
  http-service-no-auth-500:
    image: vdesabou/http-service-no-auth-500
    hostname: http-service-no-auth-500
    container_name: http-service-no-auth-500
    ports:
      - "9082:8080"
    environment:
      SPRING_PROFILES_ACTIVE: 'simple-auth'

  # for testing error 204
  http-service-basic-auth-204:
    image: vdesabou/http-sink-demo-error-204
    hostname: http-service-basic-auth-204
    container_name: http-service-basic-auth-204
    ports:
      - "9081:8080"
    environment:
      SPRING_PROFILES_ACTIVE: 'basic-auth'

  http-service-oauth2-auth:
    image: vdesabou/http-sink-demo
    hostname: http-service-oauth2-auth
    container_name: http-service-oauth2-auth
    ports:
      - "10080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: 'oauth2'

  http-service-ssl-basic-auth:
    image: vdesabou/http-sink-demo
    hostname: http-service-ssl-basic-auth
    container_name: http-service-ssl-basic-auth
    ports:
      - "8443:8443"
    environment:
      SPRING_PROFILES_ACTIVE: 'ssl-basic-auth'

  http-service-mtls-auth:
    image: vdesabou/http-sink-demo
    hostname: http-service-mtls-auth
    container_name: http-service-mtls-auth
    ports:
      - "8643:8443"
    environment:
      SPRING_PROFILES_ACTIVE: 'ssl-auth'