---
version: '3.5'
services:
  splunk:
    image: splunk/splunk:7.3.0
    hostname: splunk
    container_name: splunk
    ports:
      - 8000:8000
      - 8088:8088
    volumes:
      - ../../connect/connect-splunk-sink/default.yml:/tmp/defaults/default.yml
    environment:
      SPLUNK_START_ARGS: --accept-license
      SPLUNK_USERNAME: admin
      SPLUNK_PASSWORD: password
      DEBUG: "true"

  connect:
    depends_on:
      - zookeeper
      - broker
      - schema-registry
      - splunk
    environment:
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components/splunk-kafka-connect-splunk