name: Run Regression Tests

# on:
#   push:

#   schedule:
#   #   - cron: '0 0 * * 0' # weekly
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: ${{ matrix.tag }} ${{ matrix.test_list }}
    strategy:
      matrix:
        tag: [ "6.0.0"]
        test_list : [
                      "connect/connect-salesforce-bulkapi-sink connect/connect-salesforce-bulkapi-source connect/connect-salesforce-pushtopics-source connect/connect-salesforce-sobject-sink connect/connect-salesforce-cdc-source connect/connect-salesforce-platform-events-sink connect/connect-salesforce-platform-events-source",
                      "connect/connect-snowflake-sink connect/connect-splunk-sink connect/connect-splunk-source connect/connect-spool-dir-source
      connect/connect-syslog-source other/connect-override-policy-sftp-sink other/connect-override-policy-sftp-source",
                      "connect/connect-minio-s3-sink connect/connect-marketo-source connect/connect-active-mq-sink connect/connect-active-mq-source connect/connect-cassandra-sink
      connect/connect-couchbase-sink connect/connect-couchbase-source connect/connect-hbase-sink",
                      "connect/connect-jms-tibco-sink connect/connect-jms-tibco-source
      connect/connect-debezium-mongodb-source connect/connect-debezium-mysql-source
      connect/connect-debezium-postgresql-source connect/connect-debezium-sqlserver-source
      connect/connect-elasticsearch-sink connect/connect-datadiode-source-sink",
                      "connect/connect-hdfs2-sink connect/connect-hdfs2-source connect/connect-hdfs3-sink
      connect/connect-hdfs3-source connect/connect-ibm-mq-sink connect/connect-ibm-mq-source connect/connect-snmp-source",
                      "connect/connect-jdbc-oracle11-sink connect/connect-jdbc-oracle11-source
      connect/connect-influxdb-sink connect/connect-influxdb-source connect/connect-jdbc-mysql-sink
      connect/connect-jdbc-mysql-source connect/connect-jdbc-postgresql-sink connect/connect-jdbc-postgresql-source
      connect/connect-jdbc-sqlserver-sink",
                      "ccloud/ccloud-demo connect/connect-jdbc-sqlserver-source connect/connect-jdbc-vertica-sink
      connect/connect-jms-active-mq-sink connect/connect-jms-solace-sink",
                      "connect/connect-mongodb-sink connect/connect-mongodb-source connect/connect-mqtt-sink
      connect/connect-mqtt-source connect/connect-neo4j-sink connect/connect-omnisci-sink
      connect/connect-tibco-sink connect/connect-tibco-source connect/connect-jdbc-oracle12-sink
      connect/connect-jdbc-oracle12-source",
                      "connect/connect-rabbitmq-source connect/connect-redis-sink connect/connect-replicator
      connect/connect-sftp-sink connect/connect-sftp-source connect/connect-solace-sink
      connect/connect-solace-source",
                      "connect/connect-aws-cloudwatch-logs-source connect/connect-aws-cloudwatch-metrics-sink
      connect/connect-aws-dynamodb-sink connect/connect-aws-kinesis-source connect/connect-aws-lambda-sink",
                      "connect/connect-gcp-bigquery-sink connect/connect-gcp-cloud-functions-sink
      connect/connect-vertica-sink connect/connect-prometheus-sink connect/connect-aws-sqs-source
      connect/connect-aws-s3-sink connect/connect-aws-s3-source",
                      "connect/connect-gcp-pubsub-source connect/connect-gcp-gcs-sink
      connect/connect-gcp-gcs-source connect/connect-gcp-bigtable-sink",
                      "connect/connect-azure-data-lake-storage-gen1-sink connect/connect-azure-data-lake-storage-gen2-sink
      connect/connect-azure-event-hubs-source",
                      "connect/connect-azure-search-sink connect/connect-ftps-source connect/connect-ftps-sink connect/connect-rabbitmq-sink connect/connect-amps-source connect/connect-jira-source connect/connect-github-source connect/connect-pivotal-gemfire-sink",
                      "connect/connect-azure-functions-sink",
                      "connect/connect-http-sink",
                      "connect/connect-kudu-source connect/connect-kudu-sink",
                      "replicator/connect",
                      "replicator/mirrormaker2 ksqldb/materialized-view connect/connect-pagerduty-sink connect/connect-zendesk-source connect/connect-datadog-metrics-sink connect/connect-gcp-spanner-sink connect/connect-gcp-firebase-source connect/connect-gcp-firebase-sink",
                      "connect/connect-azure-service-bus-source connect/connect-azure-blob-storage-sink
      connect/connect-azure-blob-storage-source connect/connect-azure-sql-data-warehouse-sink"
                    ]
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-3

      - name: Update README and cleanup resources
        run: |
          bash scripts/launch-github-action.sh
          bash scripts/cleanup-resources.sh
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          AZ_USER: ${{ secrets.AZ_USER }}
          AZ_PASS: ${{ secrets.AZ_PASS }}

      - name: Decrypt secrets.tar
        run: |
          ./.github/scripts/decrypt_secret.sh
          tar xvf secrets.tar
          mkdir -p $HOME/.aws
          cp aws_config $HOME/.aws/config
          cp aws_credentials $HOME/.aws/credentials
          mkdir -p $HOME/.ccloud
          cp config.cc.travis $HOME/.ccloud/config
          aws s3 cp s3://kafka-docker-playground/3rdparty/3rdparty.tgz .
          tar xvfz 3rdparty.tgz
          cp ./3rdparty/TIB_ems-ce_8.5.1_linux_x86_64.zip ./connect/connect-tibco-source/docker-tibco/TIB_ems-ce_8.5.1_linux_x86_64.zip
          cp ./3rdparty/TIB_ems-ce_8.5.1_linux_x86_64.zip ./connect/connect-jms-tibco-sink/docker-tibco/TIB_ems-ce_8.5.1_linux_x86_64.zip
          cp ./3rdparty/TIB_ems-ce_8.5.1_linux_x86_64.zip ./connect/connect-tibco-sink/docker-tibco/TIB_ems-ce_8.5.1_linux_x86_64.zip
          cp ./3rdparty/TIB_ems-ce_8.5.1_linux_x86_64.zip ./connect/connect-jms-tibco-source/docker-tibco/TIB_ems-ce_8.5.1_linux_x86_64.zip
          cp ./3rdparty/ojdbc6.jar ./connect/connect-jdbc-oracle11-sink/ojdbc6.jar
          cp ./3rdparty/ojdbc6.jar ./connect/connect-jdbc-oracle11-source/ojdbc6.jar
          cp ./3rdparty/ojdbc8.jar ./connect/connect-jdbc-oracle12-sink/ojdbc8.jar
          cp ./3rdparty/ojdbc8.jar ./connect/connect-jdbc-oracle12-source/ojdbc8.jar
          cp ./3rdparty/ImpalaJDBC42.jar ./connect/connect-kudu-source/ImpalaJDBC42.jar
          cp ./3rdparty/ImpalaJDBC42.jar ./connect/connect-kudu-sink/ImpalaJDBC42.jar
          cp ./3rdparty/jms.jar ./connect/connect-ibm-mq-sink/jms.jar
          cp ./3rdparty/jms.jar ./connect/connect-ibm-mq-source/jms.jar
          cp ./3rdparty/com.ibm.mq.allclient.jar ./connect/connect-ibm-mq-sink/com.ibm.mq.allclient.jar
          cp ./3rdparty/com.ibm.mq.allclient.jar ./connect/connect-ibm-mq-source/com.ibm.mq.allclient.jar
          cp ./3rdparty/mysql-connector-java-5.1.45.jar ./ccloud/ccloud-demo/mysql-connector-java-5.1.45.jar
          cp ./3rdparty/mysql-connector-java-5.1.45.jar ./connect/connect-debezium-mysql-source/mysql-connector-java-5.1.45.jar
          cp ./3rdparty/mysql-connector-java-5.1.45.jar ./connect/connect-jdbc-mysql-sink/mysql-connector-java-5.1.45.jar
          cp ./3rdparty/mysql-connector-java-5.1.45.jar ./connect/connect-jdbc-mysql-source/mysql-connector-java-5.1.45.jar
          cp ./3rdparty/RedshiftJDBC4-1.2.20.1043.jar ./connect/connect-aws-redshift-sink/RedshiftJDBC4-1.2.20.1043.jar
          cp ./3rdparty/activemq-all-5.15.4.jar ./connect/connect-jms-active-mq-sink/activemq-all-5.15.4.jar
          cp ./3rdparty/commons-lang-2.6.jar ./connect/connect-jms-solace-sink/commons-lang-2.6.jar
          cp ./3rdparty/sol-jms-10.6.4.jar ./connect/connect-jms-solace-sink/sol-jms-10.6.4.jar
          cp ./3rdparty/sol-jms-10.6.4.jar ./connect/connect-solace-sink/sol-jms-10.6.4.jar
          cp ./3rdparty/sol-jms-10.6.4.jar ./connect/connect-solace-source/sol-jms-10.6.4.jar
          cp ./3rdparty/AMPS.tar.gz ./connect/connect-amps-source/docker-amps/AMPS.tar.gz
          cp ./3rdparty/pivotal-gemfire.tgz ./connect/connect-pivotal-gemfire-sink/docker-pivotal-gemfire/pivotal-gemfire.tgz
          echo "$DOCKER_PASSWORD" | docker login -u vdesabou --password-stdin
        env:
          SECRETS_ENCRYPTION_PASSWORD: ${{ secrets.SECRETS_ENCRYPTION_PASSWORD }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Test
        run: bash scripts/run-tests.sh "${{ matrix.test_list }}" "${{ matrix.tag }}"
        env:
          SALESFORCE_USERNAME: ${{ secrets.SALESFORCE_USERNAME }}
          CONSUMER_KEY: ${{ secrets.CONSUMER_KEY }}
          CONSUMER_PASSWORD: ${{ secrets.CONSUMER_PASSWORD }}
          SALESFORCE_INSTANCE: ${{ secrets.SALESFORCE_INSTANCE }}
          SALESFORCE_PASSWORD: ${{ secrets.SALESFORCE_PASSWORD }}
          SECURITY_TOKEN: ${{ secrets.SECURITY_TOKEN }}
          SALESFORCE_USERNAME_ACCOUNT2: ${{ secrets.SALESFORCE_USERNAME_ACCOUNT2 }}
          SALESFORCE_PASSWORD_ACCOUNT2: ${{ secrets.SALESFORCE_PASSWORD_ACCOUNT2 }}
          SECURITY_TOKEN_ACCOUNT2: ${{ secrets.SECURITY_TOKEN_ACCOUNT2 }}
          CONSUMER_KEY_ACCOUNT2: ${{ secrets.CONSUMER_KEY_ACCOUNT2 }}
          CONSUMER_PASSWORD_ACCOUNT2: ${{ secrets.CONSUMER_PASSWORD_ACCOUNT2 }}
          AWS_BUCKET_NAME: ${{ secrets.AWS_BUCKET_NAME }}
          AZ_PASS: ${{ secrets.AZ_PASS }}
          AZ_USER: ${{ secrets.AZ_USER }}
          CCLOUD_EMAIL: ${{ secrets.CCLOUD_EMAIL }}
          CCLOUD_PASSWORD: ${{ secrets.CCLOUD_PASSWORD }}
          CLUSTER_LKC: ${{ secrets.CLUSTER_LKC }}
          DD_API_KEY: ${{ secrets.DD_API_KEY }}
          DD_APP_KEY: ${{ secrets.DD_APP_KEY }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          ENVIRONMENT: ${{ secrets.ENVIRONMENT }}
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          GCS_BUCKET_NAME: ${{ secrets.GCS_BUCKET_NAME }}
          GITHUB_ACCESS_TOKEN: ${{ secrets.THE_GITHUB_ACCESS_TOKEN }}
          JIRA_URL: ${{ secrets.JIRA_URL }}
          JIRA_USERNAME: ${{ secrets.JIRA_USERNAME }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
          MARKETO_CLIENT_ID: ${{ secrets.MARKETO_CLIENT_ID }}
          MARKETO_ENDPOINT_URL: ${{ secrets.MARKETO_ENDPOINT_URL }}
          MARKETO_CLIENT_SECRET: ${{ secrets.MARKETO_CLIENT_SECRET }}
          PAGERDUTY_SERVICE_ID: ${{ secrets.PAGERDUTY_SERVICE_ID }}
          PAGERDUTY_API_KEY: ${{ secrets.PAGERDUTY_API_KEY }}
          PAGERDUTY_USER_EMAIL: ${{ secrets.PAGERDUTY_USER_EMAIL }}
          SNOWFLAKE_ACCOUNT_NAME: ${{ secrets.SNOWFLAKE_ACCOUNT_NAME }}
          SNOWFLAKE_USERNAME: ${{ secrets.SNOWFLAKE_USERNAME }}
          SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
          ZENDESK_URL: ${{ secrets.ZENDESK_URL }}
          ZENDESK_USERNAME: ${{ secrets.ZENDESK_USERNAME }}
          ZENDESK_PASSWORD: ${{ secrets.ZENDESK_PASSWORD }}
