name: Update README

on:
  workflow_dispatch:

jobs:
  update-readme:
    name: Update README
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          repository: vdesabou/kafka-docker-playground
          fetch-depth: 0
          submodules: recursive
          token: ${{ secrets.CI_GITHUB_TOKEN }}

      - name: Decrypt secrets.tar
        run: |
          ./.github/scripts/decrypt_secret.sh
          tar xvf secrets.tar
          rm secrets.tar
          mkdir -p $HOME/.aws
          mv aws_config $HOME/.aws/config
          mv aws_credentials $HOME/.aws/credentials
          chmod -R a+rw $HOME/.aws
          mkdir -p $HOME/.confluent
          mv config.cc.travis $HOME/.confluent/config
          echo "$DOCKER_PASSWORD" | docker login -u vdesabou --password-stdin
        env:
          SECRETS_ENCRYPTION_PASSWORD: ${{ secrets.SECRETS_ENCRYPTION_PASSWORD }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD}}

      - name: Update README
        run: |
          ./scripts/update-readme.sh "5.4.7 5.5.9 6.0.7 6.1.5 6.2.4 7.0.3 7.1.1"
        env:
          CI_GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}


      - name: push
        uses: github-actions-x/commit@v2.9
        with:
          github-token: ${{ secrets.CI_GITHUB_TOKEN }}
          push-branch: 'master'
          commit-message: 'updating with latest versions'
          files: ./README.md ./docs/content.md ./docs/introduction.md
          name: Vincent de Saboulin
