name: Update README

on:
  workflow_dispatch:

jobs:
  update-readme:
    name: Update README
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          repository: vdesabou/kafka-docker-playground
          fetch-depth: 0
          submodules: recursive
          token: ${{ secrets.CI_GITHUB_TOKEN }}

      - name: Update README
        run: |
          ./scripts/update-readme.sh "5.4.8 5.5.10 6.0.8 6.1.6 6.2.6 7.0.5 7.1.3 7.2.0"
        env:
          GH_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}

      - name: Pushes content.md
        uses: dmnemec/copy_file_to_another_repo_action@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.CI_GITHUB_TOKEN }}
        with:
          source_file: './docs/content.md'
          destination_repo: 'vdesabou/kafka-docker-playground-docs'
          destination_folder: 'docs'
          user_email: 'vincent.desaboulin@gmail.com'
          user_name: 'vdesabou'
          commit_message: 'updating with latest versions'

      - name: Pushes introduction.md
        uses: dmnemec/copy_file_to_another_repo_action@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.CI_GITHUB_TOKEN }}
        with:
          source_file: './docs/introduction.md'
          destination_repo: 'vdesabou/kafka-docker-playground-docs'
          destination_folder: 'docs'
          user_email: 'vincent.desaboulin@gmail.com'
          user_name: 'vdesabou'
          commit_message: 'updating with latest versions'